<div class="flex items-center justify-center md:bg-base-200">
  <div class="w-full max-w-md bg-white shadow-lg rounded-lg p-8 md:my-20">
    <h2 class="text-2xl font-bold text-center mb-6">ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-control mb-4">
        <%= f.label :email, class: "label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-full" %>
      </div>

      <div class="form-control mb-4">
        <%= f.label :password, class: "label" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "input input-bordered w-full" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-control mb-4">
          <%= f.check_box :remember_me, class: "checkbox checkbox-primary" %>
          <%= f.label :remember_me, class: "label" %>
        </div>
      <% end %>

      <div class="form-control">
        <%= f.submit "ログイン", class: "btn btn-primary w-full" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

